*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  font-family: "Playfair Display", serif;
  font-size: 14px;
}

body {
  margin: 0 auto;
}

nav {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 50px;
  overflow: hidden;
}

nav a {
  color: black;
  padding-left: 0.75rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

nav a:hover {
  color: lightblue;
  text-decoration: underline;
}

main {
  width: 75vw;
  margin: 0 auto;
}

section {
  margin-top: 100px;
}

.Intro {
  height: 300px;
}

.Intro h1 {
  text-transform: uppercase;
  font-size: 45px;
}

.Intro h2 {
  text-transform: lowercase;
  font-size: 32px;
  color: grey;
}

span {
  font-family: "Manrope", sans-serif;
}

.team {
  height: 500px;
  width: 100%;
  display: flex;
  font-size: 24px;
  text-align: center;
}

.member, .image {
  background-size: cover;
  background-position: center;
}

.member {
  flex: 1 20px;
  padding-top: 30px;
  color: white;
}

.one {
  background-image: url("https://file.garden/Zdg1v5zmo3pLm2DB/matty");
}

.two {
  background-image: url("https://file.garden/Zdg1v5zmo3pLm2DB/katerina");
}

.three {
  background-image: url("https://file.garden/Zdg1v5zmo3pLm2DB/kenji");
}

.four {
  background-image: url("https://file.garden/Zdg1v5zmo3pLm2DB/gary");
}


.products {
  display: flex;
  justify-content: space-between;
}

.our-products h2 {
  text-align: right;
}

.container {
  width: 33%;
}

.image {
  height: 255px;
}

.container p {
  font-size: 4rem;
  font-style: italic;
  color: white;
  position: relative;
  top: -60px;
  height: 15%;
}

.first {
  background-image: url("https://file.garden/Zdg1v5zmo3pLm2DB/croc-gloves.jpg");
}

.second {
  background-image: url("https://file.garden/Zdg1v5zmo3pLm2DB/noodle-fan.jpeg");
}

.third {
  background-image: url("https://file.garden/Zdg1v5zmo3pLm2DB/pet-rock.jpg");
}

footer {
  width: 100%;
  height: 300px;
  background-color: black;
  color: white;
  margin-top: 80px;
  padding-top: 50px;
}

footer a {
  color: white;
  text-decoration: none;
  display: inline-block;
  height: 50px;
}

footer a:hover {
  color: lightblue;
  text-decoration: underline;
}

.footer-content {
  width: 75vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-links {
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-button-copyright {
  width: 27%;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.footer-button {
  font-size: 0.8rem;
  padding: 1em 2em;
  border-radius: 1.5rem;
  color: black;
  background: white;
  text-align: center;
}

copyright {
  font-size: 0.75rem;
  text-align: right;
  color: lightgrey;
}
